In [1]:
import pandas as pd

In [2]:
# File to Load

# Read the modified Budget_Data csv into Pandas DataFrame
pybank_df = pd.read_csv('Resources/budget_data.csv')
pybank_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

# The total number of months included in the dataset

In [17]:
num_months_df = len(pybank_df["Date"].unique())
print(f'Total number of months: {num_months_df}')

Total number of months: 86

# The net total amount of "Profit/Losses" over the entire period

In [16]:
total_profitloss_df =pybank_df["Profit/Losses"].sum()-1
print(f'Total amount of Profit/Losses: ${total_profitloss_df}')

Total amount of Profit/Losses: $22564197

# The changes in "Profit/Losses" over the entire period, and then the average of those changes

In [15]:
#changes in profit/losses

profloss_change_df = pybank_df['Profit/Losses'].diff()

#Average of the changes

avg_change_df=profloss_change_df.mean()
print(f'Average of changes in Profit/Losses:${avg_change_df}')

Average of changes in Profit/Losses:$-8311.105882352942

# The greatest increase in profits (date and amount) over the entire period

In [20]:
greatest_incprof_df= profloss_change_df.idxmax()

greatest_inc_date_df=pybank_df.loc[greatest_incprof_df,'Date']
greatest_inc_date_df

'Aug-16'

In [8]:
greatest_inc_amount_df=profloss_change_df[greatest_incprof_df]
greatest_inc_amount_df

1862002.0

# The greatest decrease in profits (date and amount) over the entire period

In [9]:
greatest_decprof_df= profloss_change_df.idxmin()
print(f'Greatest decrease in profits:{greatest_decprof_df}')

Greatest decrease in profits:49

In [10]:
greatest_dec_date_df=pybank_df.loc[greatest_decprof_df,'Date']

greatest_dec_date_df

'Feb-14'

In [11]:
greatest_dec_amount_df=profloss_change_df[greatest_decprof_df]
greatest_dec_amount_df

-1825558.0

# Print the analysis to the terminal and export a text file with the results

In [21]:
#full assignment in one code
assignment = f'Total Months: {num_months_df}\nAverage change: ${avg_change_df}\nGreatest Increase in Profits Date: {greatest_inc_date_df}\nGreatest Increase in Profits Amount: ${greatest_inc_amount_df}\nGreatest Decrease in Profits Date: {greatest_dec_date_df}\nGreatest Decrease in Profits Amount: ${greatest_dec_amount_df}'


print (assignment)

Total Months: 86
Average change: $-8311.105882352942
Greatest Increase in Profits Date: Aug-16
Greatest Increase in Profits Amount: $1862002.0
Greatest Decrease in Profits Date: Feb-14
Greatest Decrease in Profits Amount: $-1825558.0

In [22]:
with open('assignment.txt','w') as file:
    file.write(assignment)