In [96]:
import pandas as pd

In [97]:
# File to Load

# Read the modified Budget_Data csv into Pandas DataFrame
pypoll_df = pd.read_csv('Resources/election_data.csv')
pypoll_df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

# The total number of votes cast

In [98]:
total_num_votes_df = len(pypoll_df["Ballot ID"].unique())
print(f'Total number of votes: {total_num_votes_df}')

Total number of votes: 369711

# A complete list of candidates who received votes

In [99]:
group_df=pypoll_df.groupby("Candidate").count().loc[:,["Ballot ID"]].rename(columns={'Ballot ID':'Number of Votes'})
group_df

                         Number of Votes
Candidate
Charles Casper Stockham            85213
Diana DeGette                     272892
Raymon Anthony Doane               11606

In [102]:
#another way to get the candidate vote count, also helps with calculating the % later

total_candidate_df=pypoll_df["Candidate"].value_counts()
print(f'Total votes per candidate:\n{total_candidate_df}')

Total votes per candidate:
Diana DeGette              272892
Charles Casper Stockham     85213
Raymon Anthony Doane        11606
Name: Candidate, dtype: int64

# The percentage of votes each candidate won

In [103]:
group_df["Vote Percentage"]=(total_candidate_df/total_num_votes_df)

group_df["Vote Percentage"] = (group_df["Vote Percentage"]*100).map("{:.1f}%".format)
group_df

                         Number of Votes Vote Percentage
Candidate
Charles Casper Stockham            85213           23.0%
Diana DeGette                     272892           73.8%
Raymon Anthony Doane               11606            3.1%

In [105]:
#Another way to get %

percent_votes_candidate=(total_candidate_df/total_num_votes_df)*100
print(f'Total votes per candidate:\n{percent_votes_candidate}')

Total votes per candidate:
Diana DeGette              73.812248
Charles Casper Stockham    23.048543
Raymon Anthony Doane        3.139209
Name: Candidate, dtype: float64

# The winner of the election based on popular vote.

In [106]:
winner_df=percent_votes_candidate.idxmax()
print (f'Winner is: {winner_df}')

Winner is: Diana DeGette

# Analysis and txt File

In [107]:
analysis_pypoll = f"Total number of votes: {total_num_votes_df}\n\nComplete candidates who received votes and percentage of each: \n\n{group_df}\n\nWinner of the elections: {winner_df}"

print(analysis_pypoll)

Total number of votes: 369711

Complete candidates who received votes and percentage of each:

                         Number of Votes Vote Percentage
Candidate
Charles Casper Stockham            85213           23.0%
Diana DeGette                     272892           73.8%
Raymon Anthony Doane               11606            3.1%

Winner of the elections: Diana DeGette

In [108]:
with open('assignment.txt','w') as file:
    file.write(analysis_pypoll)